
.head {
	margin: auto;
	width: 150px;
	height: 100px;
	text-align: center;
	background-color: red;
	margin-bottom: 4px;
}

.r-eye {
	width: 30px;
	height: 30px;
	position: relative;
	top: 10px;
	left: 10px;
	background-color: white;
	border-radius: 100%;
}

.l-eye {
	width: 30px;
	height: 30px;
	position: relative;
	top: -19px;
	right: -110px;
	background-color: white;
	border-radius: 100%;
}

.body {
	text-align: center;
}

.r-arm {
	width:70px;
	height:250px;
	background-color: red;
	border-radius: 20%;
	display: inline-block;
	vertical-align: top;
}

.chest {
	width: 300px;
	height: 300px;
	background-color: red;e;
	display: inline-block;
}

.l-arm {
	width:70px;
	height:250px;
	background-color: red;
	border-radius: 20%;
	display: inline-block;
	vertical-align: top;
}

.legs {
	text-align: center;
}

.r-leg {
	width:148px;
	height:70px;
	background-color: red;
	display: inline-block;
}

.l-leg {
	width:148px;
	height:70px;
	background-color: red;
	display: inline-block;
}